.footer {
  width: 100%;
  height: 100px;
  line-height: 3.5;
  background-color: dodgerblue;
  color: #f7f7f7;
}
  .p {
      float: right;
      clear: both;
      padding: 0;
      margin:-72px 0 0 0;
    }

