.footer {
  float: left;
  clear: both;
  height: 100px;
  width: 90%;
  margin: 20px auto 0;
  line-height: 3.5;
}
  .p {
      float: right;
      clear: both;
      padding: 0;
      margin:-72px 0 0 0;
    }

